<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>
<style>
  label {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 20px;
  }

  form {
    display: flex;
  }

  input {
    height: 25px;
    margin-left: 12px;
    width: 300px;
  }

  button {
    height: 30px;
    margin-left: 12px;
  }
</style>

<body>
  <h1>Signup</h1>
  <!-- <form method="post" action="/url">
    <label>Enter your original URL : </label>
    <input name="url" placeholder="https://google.com">
    <button type="submit">Convert -></button>
    </input> -->

  <!-- <% if (locals.shortUrl) { %> -->
  <!-- <p>https://<a href="/url/<%= shortUrl %>" target="_blank"> -->
  <!-- <%= shortUrl %> -->
  <!-- </a>.com</p> -->
  <!-- <% } %> -->
  <!-- </form> -->

  <form>
    <label>Enter your UserName</label>
    <input name="userName" />

    <label>Enter your password</label>
    <input name="password" />
    <button>
      Signup
    </button>
  </form>
</body>
<script>

</script>

</html>