.segmentDiv {
  display: flex;
  justify-content: right;
}
.segment {
  width: 35vw;
  align-items: right;
  background-color: transparent;
  height: 40px;
}
.segment .ant-segmented-item {
  width: 50%;
  background-color: #fff0f6;
}
.segment .ant-segmented-item-selected {
  background-color: rgb(248, 104, 128);
}
.segmentMode{
   /* width: 35vw; */
  align-items: right;
  background-color: transparent;
  height: 40px;
}
.segmentMode .ant-segmented-item {
  width: 50%;
  background-color: #fff0f6;
}
.segmentMode .ant-segmented-item-selected {
  background-color: rgb(248, 104, 128);
}